* { box-sizing: border-box; }
::-webkit-scrollbar {display:none}
body { background: #F5F7FA; overflow-x: hidden; margin: 0px; font-family: sans-serif; }


.appleft { width: 10%; height: 100%; display: inline-block; position: relative; min-width: 100px;}
.wrapper { width: 90%; display: inline-block; vertical-align: top;}
.appwrapper { width: 100%; height: 90vh; overflow-y: scroll; display: inline-block; position: relative;vertical-align: top;}
/* .wrapper {width: 100vw; height: 100vh; display: block;} */

.popup_overlay{position: fixed; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.5); z-index: 10; overflow-y: scroll; display: block;}

.rightarrow {position: fixed; top: 40vh; left: 66px}
.rightarrow img { width: 40px; height: 60px;}

.userlist { /* display: table-cell; */ padding: 10px; width: 33%; height: 50px; /* text-align: center */ }
.listwpr { width: 100%; height: 40px; }
.usercalendar { display: block; width: 100%; height: 100%; }
.users { display: inline-block; width: 45%; }
.calendars { display: inline-block; width: 45%; overflow-x: scroll; }
.greaterless { width: 2.5%; vertical-align: top; padding-top: 10px; display: inline-block; font-size: 20px; font-weight: 400; cursor: pointer; position: sticky; top: 0px; overflow-y: scroll; }
.usertext { width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-align: center; }
.insidetext { text-align: center; padding-top: 10px; font-size: 15px; }
th { position: sticky; top: 0; z-index: 10; background-color: white; }
.sticker { overflow-y: hidden; position: sticky; top: 0; }

@media only screen and (max-width: 700px) {
  .appleft { display: none;}
  .wrapper {width: 100%;};
}
