

.sclose { position: absolute; right: 5px; top: -2px; width: 20px; height: 20px; cursor: pointer; padding: 5%; }
.sclose:before, .sclose:after { position: absolute; left: 10px; content: ' '; height: 20px; width: 4px; background-color: #740070; }
.sclose:before { transform: rotate(45deg); }
.sclose:after { transform: rotate(-45deg); }

.pkmvanstext { display: table; font-size: 18px; padding: 5% 0 5% 25%; cursor: pointer; color: #363d43; border-bottom: 1px solid #f2f2f2; table-layout: fixed; width: 100%; }
.pkmvanstext .activ { background-color: thistle; }
.packchkouter { display: table-cell; width: 46px; }
.packchk { background-image: url(//akam.cdn.jdmagicbox.com/images/icontent/newwap/newprot_w/uncheck.svg); background-repeat: no-repeat; background-size: 100%; cursor: pointer; display: inline-block; height: 20px; position: relative; vertical-align: middle; width: 20px; }
.activ .packchk { background-image: url(//akam.cdn.jdmagicbox.com/images/icontent/newwap/newprot_w/bd_chkbox-selct-icn.svg); }
.packchktxt { display: table-cell; vertical-align: middle; }
.pkmvansblk { display: block; }
.pkmvans { box-sizing: border-box; display: inline-block; position: relative; }

.popwrpr {position: absolute; z-index: 100; top: 10%; width: 400px; background-color: white; border-radius: 5px; overflow-y: scroll; margin: 0 30%;}
.textIcon { height: 10%; width: 100%; display: table; padding: 5% 0;}
.subtext { font-size: 12px;}
.DayPicker { padding: 20%; width: 100%;}

@media only screen and (max-width: 700px) {
  .pkmvanstext { font-size: 14px; padding: 5% 0 5% 20%;}
  .subtext { font-size: 10px;}
  .popwrpr {position: absolute; z-index: 100; top: 10%; width: 80vw; min-width: 250px; margin: 0 10vw; background-color: white; border-radius: 5px; overflow-y: scroll}
}

@media only screen and (max-width: 400px) {
  .pkmvanstext { font-size: 14px; padding: 5% 0 5% 15%;}
  .DayPicker { padding: 0;}
}